@import color
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800')

%display-flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

body
  font-family: 'Raleway', sans-serif
  font-weight: 400

header
  @extend %display-flex
  align-items: center
  justify-content: center
  background-color: $white
  padding: 88px 0px 58px 0px
  
  ul
    @extend %display-flex

    list-style-type: none




@import media
